@import "tailwindcss";


@layer components {
  .primary-button{
    @apply bg-gradient-to-r from-[#00bebe] to-[#00A1A1] hover:from-[#00A1A1] hover:to-[#00A1A1] text-white font-semibold rounded-md shadow-lg hover:shadow-xl transition-all duration-300 cursor-pointer outline-none border-none
  }
}


/* Added floating animation keyframes for modern floating effect  ( HERO SECTION ) */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(2deg);
  }
}

@keyframes floatReverse {
  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(20px) rotate(-2deg);
  }
}

.float-animation {
  animation: float 6s ease-in-out infinite;
}

.float-reverse {
  animation: floatReverse 8s ease-in-out infinite;
}
